.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  margin-top: 50px;
  padding: 20px;

  width: 100%;
  max-width: 600px;

  border: 1px solid black;
}